html{
    height: 100%;
}
div.menu{
    
}
#Inicio{
    float:left;
    width:10%;
    padding-top: 20px;
    padding-bottom:20px;
    background-color: #07dfb4;
}
div.menu:hover{
        animation-name: hover;
        animation-duration: 0.3s;
        background-color:#07d1b4;
        
}
div.textos{
    font-size: 25px;
    
}
#fundo img{
    position:absolute;
    margin-top: 10px;
    margin-left: 240px;
    width: 1080px;
    height:720px;
    box-shadow: 10px 10px 100px;
}
#fundo ,img{
    position:absolute;
}
#fundo h1{
    margin-left:120px;
}
#fundo{
    position:relative
}
a{
    color: inherit;
    text-decoration: none;
}
#Inicio{
    background-image: url("img/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#texto1{
    width: 500px;
    height: 800px;
    border: 1px solid white;
    
}
.dropdown {
  position: relative;
  display: inline-block;
  float:left;
  width:30%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #07dfb4;
  text-align:center;
  color: white;
}

.dropdown:hover{
     animation-name: hover;
     animation-duration: 0.3s;
     background-color:#07d1b4;
}
.dropdown-content{
  position: absolute;
  background-color: #4CFFDBaa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  height: 0px;
  transition-property: height, display;
  transition-duration: 0.3s;
  -webkit-transition:  height 0.3s;
  transition-timing-function: ease;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
    color:white;
    background-color: #07dfb4;
}

.dropdown:hover .dropdown-content {
  display: block;
  height: 500px;
}
@keyframes hover{
  from {background-color: #07dfb4;}
  to {background-color: #07d1b4;}
}

@keyframes lista{
    from{display: none;}
    to{display: block;}
}

#acuidade{
    background-image: url("img/acuidade.png");
}
.lista {
   display: none;
    height: 0%;
   transition-property: height, display;
  transition-duration: 1s;
  -webkit-transition:  height 1s, display 1s;
  transition-timing-function: linear;
}
.dropdown:hover .lista{
    display: block;
    height: 100%;
}
#divcontent{
  position: absolute;
  background-color: #4CFFDBaa;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
  height: 0px;
  transition-property: height, display;
  transition-duration: 0.3s;
  -webkit-transition:  height 0.3s;
  transition-timing-function: ease;
}
.dropdown:hover #divcontent{
    height: 130px;
}
.lista li{
  height: 0px;
}
.dropdown:hover .lista li{
    height:auto;
}
footer{
    background-color: red;
    width: 100%;
    height: 300px;
    border: 1px solid red;
}
.show{display:block};