html{
    height: 100%;
}
div.menu{
    float:left;
    width:25%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #07dfb4;
    text-align:center;
}
div.menu:hover{
        background: #07d1b4;
        
}
div.textos{
    font-size: 25px;
}
body{
    background: linear-gradient(#07d1b4 , white);
    min-height: 100%;
    background-repeat: no-repeat;
}